body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: black;
}
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
#search-btn{
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
  background-color: pink;
  border: none;
  color: black;
  font-weight: 500;
}
#cities {
  padding: 10px;
  border-radius: 5px;
  margin: 0px 5px 0px 15px;
  background-color: pink;
  border: none;
  color: black;
  font-weight: 500;
}
.title {
  text-align: center;
  font-size: 54px;
  color: pink;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.weather-box {
  display: flex;
  width: 250px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 5px solid pink;
  border-radius: 10px;
  padding: 100px;
}
#location {
  font-size: 25px;
}
#date {
  font-size: 20px;
}
.temperature,
.wind,
.humdity {
  font-size: 16px;
}
.weatherIcon {
  height: 50px;
  width: 50px;
}
.fiveContainer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.fivedayCard {
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 10px 30px 10px 30px;
  background-color: pink;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: space-around;
  justify-content: flex-end;
}
/* Days of the week for 5 days*/
.dayCardDay {
  font-weight: 500;
  font-size: 20px;
}
