body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: black;
}
#search-btn {
  padding: 2px;
  margin-left: 10px;
  background-color: white;
  border: none;
}
.title {
  text-align: center;
  font-size: 54px;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 100px;
}
#location {
  font-size: 25px;
}
#date {
  font-size: 20px;
}
.temperature,
.wind,
.humdity {
  font-size: 16px;
}
.weatherIcon {
  height: 50px;
  width: 50px;
}
.fiveContainer {
  width: 75%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.fivedayCard {
  width: 75%;
  height: 50px;
  background-color: white;
  border: 1px solid black 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* Days of the week */
.dayCardDay {
  font-weight: 500;
  font-size: 20px;
}
